image:
  repository: rg.fr-par.scw.cloud/namespace-interesting-mccarthy/elearning
  tag: "0.5"
  pullPolicy: IfNotPresent

replicaCount: 1

service:
  type: LoadBalancer
  port: 80
  targetPort: 8080

env:
  - name: NODE_ENV
    value: "production"
  - name: PORT
    value: "8080"
